<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>becomedonorservlet</servlet-name>
        <servlet-class>becomedonorservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messageservlet</servlet-name>
        <servlet-class>messageservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donorlistservlet</servlet-name>
        <servlet-class>donorlistservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecontactservlet</servlet-name>
        <servlet-class>updatecontactservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDonorServlet</servlet-name>
        <servlet-class>deleteDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusServlet</servlet-name>
        <servlet-class>updateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <servlet-class>DeleteMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessageServlet1</servlet-name>
        <servlet-class>DeleteMessageServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>becomedonorservlet</servlet-name>
        <url-pattern>/becomedonorservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messageservlet</servlet-name>
        <url-pattern>/messageservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donorlistservlet</servlet-name>
        <url-pattern>/donorlistservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecontactservlet</servlet-name>
        <url-pattern>/updatecontactservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDonorServlet</servlet-name>
        <url-pattern>/deleteDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusServlet</servlet-name>
        <url-pattern>/updateStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <url-pattern>/DeleteMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessageServlet1</servlet-name>
        <url-pattern>/DeleteMessageServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
